	.container { width:960px; height:200px; overflow:hidden; position:relative; }
	.slides { position:absolute; top:0; left:0; }
	.slides > div { position:absolute; top:0; width:960px; display:none; }
	#loopedSlider,#newsSlider { margin:0 auto; width:875px; position:relative; clear:both; }
    #apDiv1 { position:absolute; left:-40px; top:0px; width:13px; height:45px; z-index:101;}
    #apDiv1 img { padding-top:40px; padding-left:0px;}
	#apDiv2 { position:absolute; right:-18px; top:0px; width:13px; height:45px; z-index:101;}
    #apDiv2 img { padding-top:40px; padding-left:0px;}
	


.idx0_Banner{ width:100%; height:200px; margin:0 auto; }
	.idx0_Banner #bannerGallery{
	position:relative;
	height:200px;
	overflow:hidden;
}
	.idx0_Banner #bannerPrev{
	width:150px;
	height:310px;
	background:url("") no-repeat left top;
	position:absolute;
	left:0;
	cursor:pointer;
	z-index:100;
}
	.idx0_Banner #bannerNext{
	width:150px;
	height:310px;
	background:url("") no-repeat left top;
	position:absolute;
	right:0;
	cursor:pointer;
	z-index:100;
}
	.idx0_Banner #bannerPrev #prev{ display:none; height:310px; background:url("") no-repeat left center; }
	.idx0_Banner #bannerNext #next{ display:none; height:310px; background:url("") no-repeat right center; }
	.idx0_Banner #bannerPager{ position:absolute; right:20px; bottom:23px; z-index:101; display:none; }
	.idx0_Banner #bannerPager a{ display:block; width:28px; height:28px; float:right; margin:0px 4px; color:#ccc; background:url("") no-repeat left top; }
	.idx0_Banner #bannerPager a.activeSlide{ display:block; width:28px; height:28px; float:right; margin:0px 4px; color:#f19601; background:url("") no-repeat left top; }
	.idx0_Banner #bannerPager a:hover{ text-decoration:none; }
	.idx0_Banner #bannerBox{}
	
	
